In [1]:
import pandas as pd

In [2]:
# loading netflix data
raw_netflix_path = "./Resources/netflix.csv"
raw_netflix_pd = pd.read_csv(raw_netflix_path)

In [4]:
transformed_netflix = raw_netflix_pd[[
    "show_id", 'type', 'title', 'date_added', 'rating', 'listed_in']].copy()

# transformed_netflix

In [5]:
transformed_netflix = transformed_netflix.rename(columns={'listed_in': 'genre', 'title':'show_name'})
transformed_netflix = transformed_netflix.dropna()
transformed_netflix

,show_id,type,show_name,date_added,rating,genre
0,81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,Stand-Up Comedy
2,70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,Kids' TV
4,80125979,Movie,#realityhigh,"September 8, 2017",TV-14,Comedies
...,...,...,...,...,...,...
6218,80162994,TV Show,Talking Tom and Friends,"April 10, 2019",TV-G,"Kids' TV, TV Comedies"
6219,80186475,TV Show,Pokémon the Series,"April 1, 2019",TV-Y7-FV,"Anime Series, Kids' TV"
6220,70272742,TV Show,Justin Time,"April 1, 2016",TV-Y,Kids' TV
6221,80067942,TV Show,Terrace House: Boys & Girls in the City,"April 1, 2016",TV-14,"International TV Shows, Reality TV"
6222,70136122,TV Show,Weeds,"April 1, 2014",TV-MA,"TV Comedies, TV Dramas"

In [6]:
# loading hulu data
raw_hulu_path = "./Resources/hulu.csv"
raw_hulu_pd = pd.read_csv(raw_hulu_path)

In [7]:
transformed_hulu = raw_hulu_pd[[
    "show_id", 'show_type', 'show_name', 
    'show_show_rollups_auth_on_web_latest_video_added_at', 
    'show_show_rollups_current_highest_rating', 
    'show_genre']].copy()

# transformed_hulu

In [11]:
transformed_hulu = transformed_hulu.rename( \
    columns={'show_show_rollups_auth_on_web_latest_video_added_at': 'date_add', \
             'show_show_rollups_current_highest_rating':'rating'})
transformed_hulu = transformed_hulu.set_index(0)
transformed_hulu = transformed_hulu.dropna()
transformed_hulu

KeyError: 'None of [0] are in the columns'