In [1]:
import pandas as pd

In [2]:
# loading netflix data
raw_netflix_path = "./Resources/netflix.csv"
raw_netflix_pd = pd.read_csv(raw_netflix_path)

In [3]:
transformed_netflix = raw_netflix_pd[[
    "show_id", 'type', 'title', 'date_added', 'rating', 'listed_in']].copy()

transformed_netflix

,show_id,type,title,date_added,rating,listed_in
0,81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,Stand-Up Comedy
2,70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,Kids' TV
4,80125979,Movie,#realityhigh,"September 8, 2017",TV-14,Comedies
...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,NR,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,70286564,TV Show,Maron,NaN,TV-MA,TV Comedies
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,Movies
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,TV-MA,"British TV Shows, TV Comedies, TV Dramas"
6233,70153404,TV Show,Friends,NaN,TV-14,"Classic & Cult TV, TV Comedies"

In [14]:
transformed_netflix = transformed_netflix.rename(columns={'listed_in': 'genre', 'title':'show_name'})
transformed_netflix = transformed_netflix.dropna()
transformed_netflix

,show_id,type,show_name,date_added,rating,genre
0,81145628,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",TV-PG,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,"September 9, 2016",TV-MA,Stand-Up Comedy
2,70234439,TV Show,Transformers Prime,"September 8, 2018",TV-Y7-FV,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,"September 8, 2018",TV-Y7,Kids' TV
4,80125979,Movie,#realityhigh,"September 8, 2017",TV-14,Comedies
...,...,...,...,...,...,...
6218,80162994,TV Show,Talking Tom and Friends,"April 10, 2019",TV-G,"Kids' TV, TV Comedies"
6219,80186475,TV Show,PokÃ©mon the Series,"April 1, 2019",TV-Y7-FV,"Anime Series, Kids' TV"
6220,70272742,TV Show,Justin Time,"April 1, 2016",TV-Y,Kids' TV
6221,80067942,TV Show,Terrace House: Boys & Girls in the City,"April 1, 2016",TV-14,"International TV Shows, Reality TV"
6222,70136122,TV Show,Weeds,"April 1, 2014",TV-MA,"TV Comedies, TV Dramas"

In [5]:
# loading hulu data
raw_hulu_path = "./Resources/hulu.csv"
raw_hulu_pd = pd.read_csv(raw_hulu_path)

In [6]:
transformed_hulu = raw_hulu_pd[[
    "show_id", 'show_type', 'show_name', 
    'show_show_rollups_auth_on_web_latest_video_added_at', 
    'show_show_rollups_current_highest_rating', 
    'show_genre']].copy()

# transformed_hulu

In [12]:
transformed_hulu = transformed_hulu.rename( \
    columns={'show_show_rollups_auth_on_web_latest_video_added_at': 'date_add', \
             'show_show_rollups_current_highest_rating':'rating'})
#transformed_hulu = transformed_hulu.set_index()
transformed_hulu = transformed_hulu.dropna()
transformed_hulu

,show_id,show_type,show_name,date_add,rating,show_genre
0,54,show,Family Guy,2017-07-22T21:15:30Z,TV-MA,Animation and Cartoons
1,6979,show,South Park,2016-12-08T06:32:22Z,TV-MA,Comedy
2,53,show,American Dad!,2017-04-12T17:34:25Z,TV-14,Comedy
3,389,show,Law & Order: Special Victims Unit,2017-07-21T18:09:26Z,TV-14,Drama
4,1603,show,Naruto Shippuden,2017-03-23T11:00:30Z,TV-14,Anime
...,...,...,...,...,...,...
995,14114,show,East Los High,2016-07-15T03:30:24Z,TV-14,Drama
996,1349,show,Sesame Street,2016-03-14T19:11:22Z,TV-Y,Kids
997,23170,show,Casual,2017-08-01T04:00:31Z,TV-MA,Comedy
998,16720,show,Chicago P.D.,2017-05-18T09:00:33Z,TV-14,Drama
999,22751,show,"Ready, Steady, Wiggle!",2015-05-11T07:04:56Z,TV-G,Kids